/* --- CONFIGURACIÓN BASE --- */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html { 
    scroll-behavior: smooth; 
}

body { 
    background-color: #000; 
    color: #fff; 
    font-family: 'Inter', sans-serif; 
    overflow-x: hidden; 
    -webkit-font-smoothing: antialiased;
}

/* --- PORTADA (SPLASH) --- */
.splash {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('foto5.jpg');
    background-size: cover;
    background-position: center;
}

.splash-content {
    background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 70%);
    padding: 40px;
    z-index: 1;
}

.splash-content h1 {
    font-weight: 200;
    letter-spacing: 15px;
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.splash-content p {
    font-weight: 400;
    letter-spacing: 10px;
    font-size: 0.75rem;
    opacity: 0.9;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

/* --- HEADER (MENÚ FIJO) --- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 5%;
    z-index: 2000;
    background: rgba(0,0,0,0.7); /* Un poco más oscuro para que no se pierda nada */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav {
    display: flex;
